#include "keys_ru.h"
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        cap_sen: cap_sen {
            compatible = "zmk,behavior-hold-tap";
            label = "CAP_SEN";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            hold-while-undecided;
        };

        mouse_layer: mouse_layer {
            compatible = "zmk,behavior-sticky-key";
            label = "MOUSE_LAYER";
            bindings = <&mo>;
            #binding-cells = <1>;
            release-after-ms = <200>;
        };

        zip_auto_mouse: zip_auto_mouse {
            compatible = "zmk,input-processor-temp-layer";
            #input-processor-cells = <2>;
            require-prior-idle-ms = <800>;
            excluded-positions = <>;
        };

        lg_space: lg_space {
            compatible = "zmk,behavior-mod-morph";
            label = "toggle `ru` layer with LGUI";
            bindings = <&kp SPACE>, <&lg_tog>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
        };

        td_0: td_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_0";
            #binding-cells = <0>;
            bindings = <&lt 8 TAB>, <&mt LWIN TAB>;
        };

        td_2: td_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_2";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp LS(EQUAL)>;
        };

        td_1: td_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_1";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp LS(MINUS)>;
        };

        td_3: td_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_3";
            #binding-cells = <0>;
            bindings = <&kp LS(SEMI)>, <&kp SEMI>;
        };

        td_4: td_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_4";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COMMA>;
        };

        td_6: td_6 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_6";
            #binding-cells = <0>;
            bindings = <&kp EXCL>, <&kp BACKSLASH>;
        };

        td_5: td_5 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_5";
            #binding-cells = <0>;
            bindings = <&kp ASTERISK>, <&kp HASH>;
        };

        td_5_ru: td_5_ru {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_5_RU";
            #binding-cells = <0>;
            bindings = <&kp ASTERISK>, <&en HASH>;
        };

        td_4_ru: td_4_ru {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_4_RU";
            #binding-cells = <0>;
            bindings = <&en DOT>, <&en COMMA>;
        };

        td_3_ru: td_3_ru {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_3_RU";
            #binding-cells = <0>;
            bindings = <&en LS(SEMI)>, <&en SEMI>;
        };
    };

    combos {
        compatible = "zmk,combos";

        cmben {
            bindings = <&layer_en>;
            key-positions = <3 4>;
            layers = <1>;
        };

        cmbru {
            bindings = <&layer_ru>;
            key-positions = <3 4>;
            layers = <0>;
        };
    };

    macros {
        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE)>;
            label = "TO_RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE)>;
            label = "TO_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &to_en>;
            label = "LAYER_EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &to_ru>;
            label = "LAYER_RU";
            tap-ms = <30>;
            wait-ms = <0>;
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_ru>;

            label = "EN";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        lg_tog: lg_tog {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE) &tog 1>;
            label = "LG_TOG";
        };

        ru: ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_ru>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_en>;

            label = "RU";
            wait-ms = <0>;
            tap-ms = <30>;
        };

        m1: m1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp N1>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M1";
        };

        m2: m2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp NUMBER_2>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M2";
        };

        m3: m3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp NUMBER_3>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M3";
        };

        m4: m4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp NUMBER_4>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M4";
        };

        m5: m5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp NUMBER_5>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M5";
        };

        m6: m6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp N6>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M6";
        };

        m7: m7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp NUMBER_7>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M7";
        };

        m8: m8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp NUMBER_8>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M8";
        };

        m9: m9 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp NUMBER_9>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M9";
        };

        m10: m10 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp NUMBER_0>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M10";
        };

        m11: m11 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp D>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M11";
        };

        m12: m12 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp F>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M12";
        };

        m13: m13 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp H>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M13";
        };

        m14: m14 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp J>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M14";
        };

        m15: m15 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp K>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M15";
        };

        m16: m16 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_WIN>,
                <&macro_tap>,
                <&kp L>,
                <&macro_release>,
                <&kp LEFT_WIN>;

            label = "M16";
        };

        ru_to_sym_en: ru_temp_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LG(SPACE)>,
                <&macro_press>,
                <&mo 3>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 3>,
                <&macro_tap>,
                <&kp LG(SPACE)>;

            label = "RU_TEMP_EN";
        };

        ru_to_nav_en: ru_to_nav_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LG(SPACE)>,
                <&macro_press>,
                <&mo 2>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 2>,
                <&macro_tap>,
                <&kp LG(SPACE)>;

            label = "RU_TO_NAV_EN";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E         &kp R      &kp T                        &kp Y  &kp U           &kp I      &kp O    &kp P     &kp BSPC
&td_0      &kp A  &kp S  &kp D         &kp F      &kp G                        &kp H  &kp J           &kp K      &kp L    &kp SEMI  &kp LWIN
&kp LSHFT  &kp Z  &kp X  &kp C         &kp V      &kp B                        &kp N  &kp M           &kp COMMA  &kp DOT  &kp SQT   &kp RSHFT
                  &none  &kp LEFT_ALT  &kp LCTRL  &mo 2  &lg_space    &kp RET  &mo 3  &mouse_layer 5  &none      &none
            >;

            display-name = "En";
        };

        ru {
            bindings = <
&kp ESC    &kp RU_CYRILLIC_SHORT_I  &kp RU_CYRILLIC_TSE   &kp RU_CYRILLIC_U   &kp RU_CYRILLIC_KA  &kp RU_CYRILLIC_IE                        &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE        &kp RU_CYRILLIC_SHA  &kp RU_CYRILLIC_SHCHA      &kp RU_CYRILLIC_ZE   &kp BSPC
&td_0      &kp RU_CYRILLIC_EF       &kp RU_CYRILLIC_YERU  &kp RU_CYRILLIC_VE  &kp RU_CYRILLIC_A   &kp RU_CYRILLIC_PE                        &kp RU_CYRILLIC_ER  &kp RU_CYRILLIC_O          &kp RU_CYRILLIC_EL   &kp RU_CYRILLIC_DE         &kp RU_CYRILLIC_ZHE  &kp LEFT_WIN
&kp LSHFT  &kp RU_CYRILLIC_YA       &kp RU_CYRILLIC_CHE   &kp RU_CYRILLIC_ES  &kp RU_CYRILLIC_EM  &kp RU_CYRILLIC_I                         &kp RU_CYRILLIC_TE  &kp RU_CYRILLIC_SOFT_SIGN  &kp RU_CYRILLIC_BE   &kp RU_CYRILLIC_YU         &kp RU_CYRILLIC_E    &kp RSHFT
                                    &none                 &kp LEFT_ALT        &kp LCTRL           &ru_to_nav_en       &lg_space    &kp RET  &ru_to_sym_en       &mouse_layer 5             &kp RU_CYRILLIC_HA   &kp RU_CYRILLIC_HARD_SIGN
            >;

            display-name = "Ru";
        };

        nav_en {
            bindings = <
&trans  &kp N1      &kp N2           &kp N3       &kp N4       &kp N5                       &kp N6          &kp N7          &kp N8        &kp N9           &kp N0    &trans
&trans  &kp HOME    &kp INS          &kp DELETE   &kp END      &lg_tog                      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp SEMI  &trans
&trans  &kp K_UNDO  &kp LS(LC(INS))  &kp LC(INS)  &kp LS(INS)  &kp MINUS                    &none           &none           &kp COMMA     &kp DOT          &kp APOS  &trans
                    &trans           &trans       &trans       &trans     &trans    &trans  &mo 4           &trans          &trans        &trans
            >;

            display-name = "Navigation";
        };

        sym_en {
            bindings = <
&trans  &kp AT            &kp LEFT_BRACKET  &td_2   &kp RIGHT_BRACKET  &kp GRAVE                            &kp CARET   &kp LT     &kp TILDE     &kp GT    &kp AMPS  &trans
&trans  &kp LS(NUMBER_5)  &kp LPAR          &td_1   &kp RPAR           &kp DOUBLE_QUOTES                    &kp DOLLAR  &kp LBRC   &kp QUESTION  &kp RBRC  &kp SEMI  &trans
&trans  &ru LS(NUMBER_3)  &td_5             &td_3   &td_4              &td_6                                &kp PIPE    &kp SLASH  &kp COMMA     &kp DOT   &kp APOS  &trans
                          &trans            &trans  &trans             &mo 4              &trans    &trans  &trans      &trans     &trans        &trans
            >;

            display-name = "Symbols";
        };

        adj {
            bindings = <
&bootloader  &none  &kp F1  &kp F2   &kp F3   &kp F4                   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&none        &none  &kp F5  &kp F6   &kp F7   &kp F8                   &out OUT_BLE  &kp C_VOL_DN  &kp K_MUTE        &kp C_VOL_UP  &none         &studio_unlock
&none        &none  &kp F9  &kp F10  &kp F11  &kp F12                  &out OUT_USB  &kp K_PREV    &kp K_PLAY_PAUSE  &kp K_NEXT    &none         &none
                    &none   &none    &none    &none    &none    &none  &none         &none         &none             &none
            >;

            display-name = "Adjust";
        };

        mouse {
            bindings = <
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
&trans  &mo 6   &mkp MB3  &mkp MB2  &mkp MB1  &mo 7                     &mo 7   &mkp MB1  &mkp MB2  &mkp MB3  &mo 6   &trans
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
                &trans    &trans    &trans    &trans  &trans    &trans  &trans  &trans    &trans    &trans
            >;

            display-name = "Mouse";
        };

        scroll {
            bindings = <
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans  &mkp MB3  &mkp MB2  &mkp MB1  &trans                    &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans  &trans
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
                &trans    &trans    &trans    &trans  &trans    &trans  &trans  &trans    &trans    &trans
            >;

            display-name = "Scroll";
        };

        sniper {
            bindings = <
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans  &mkp MB3  &mkp MB2  &mkp MB1  &trans                    &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans  &trans
&trans  &trans  &trans    &trans    &trans    &trans                    &trans  &trans    &trans    &trans    &trans  &trans
                &trans    &trans    &trans    &trans  &trans    &trans  &trans  &trans    &trans    &trans
            >;

            display-name = "Sniper";
        };

        macros {
            bindings = <
&trans  &m1     &m2     &m3     &m4     &m5                       &m6     &m7     &m8     &m9     &m10    &kp DELETE
&trans  &trans  &trans  &m11    &m12    &trans                    &m13    &m14    &m15    &m16    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "Macros";
        };
    };
};

&trackball { cpi = <1000>; };

&trackball_listener {
    /* input-processors = <&zip_auto_mouse 5 500>, <&zip_xy_scaler 9 20>; */

    input-processors = <&zip_xy_scaler 9 20>;

    scroller {
        layers = <6>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            <&zip_xy_scaler 1 32>,
            <&zip_xy_to_scroll_mapper>;
    };

    sniper {
        layers = <7>;
        input-processors = <&zip_xy_scaler 1 4>;
    };
};
